.navbar {
  display: inline-block;
  position: fixed;
  background: #FFC300;
  font-size: 34px;
  padding: 12px;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

ul li {
  list-style: none;
}

