.sessao-quiz {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
}

.texto-quiz {
  display: block;
  margin: 40px auto;
  align-items: flex-start;
  text-align: justify;
  width: 80%;
}

.titulo-quiz {
  text-align: center;
  margin: 40px;
}

.app {
  background-color: #ffc300;
  margin: 0 auto 95px;
  width: 600px;
  min-height: 200px;
  height: min-content;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px #000;
  display: flex;
  justify-content: space-evenly;
}

.score {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question {
  width: 100%;
  margin: 10px;
  position: relative;
}

.contador-pergunta {
  margin-bottom: 20px;
}

.contador-pergunta span {
  font-size: 28px;
}

.perguntas {
  margin-bottom: 12px;
}

.resposta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffc300;
  background-color: #000;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #ffc300;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
}

button:focus {
  outline: none;
}

@media (min-width: 320px) and (max-width: 800px) {
  .texto-quiz {
    font-size: 14px;
  }
  .sessao-quiz {
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 90%;
    margin: 10px auto;
  }
  .titulo-quiz {
    font-size: 25px;
  }
  .app {
    width: 80%;
    height: 60%;
    padding: 10px;
  }
  button {
    margin: 0 auto;
  }
}
