.header {
  text-align: center;
}

.header h1 {
  font-size: 40px;
}

.header img {
  border-radius: 150px;
  padding: 10px;
  margin-top: 100px;
  width: 40vw;
  height: 60vh;
}

@media (min-width: 320px) and (max-width: 800px){
    .header img{
      width: 50vh;
    }
    .header h1{
      font-size: 30px;
    }
}