.footer{
    background-color: #FFC300;
    color: #000;
    text-align: center;
    height: 50px;
    width: 100%;
    padding-top: 15px;
    margin-top: 30px;
}

span{
  align-items: center;
}
.git{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 800px){
    .footer{
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
    }
  }