.input {
  width: 20%;
  height: 40px;
  display: flex;
  text-align: center;
  box-shadow: 0 3px 3px 3px rgb(0 0 0 / 13%);
  border: 2px solid #ffc300;
  border-radius: 10px;
  font-size: 18px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 40px;
  color: #000;
}

.input::placeholder {
  color: #ffc300;
}

.card-principal {
  width: 30%;
  display: inline-block;
  text-align: center;
  color: #000;
  margin: 20px;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 10px;
  box-shadow: 0 3px 3px 3px #ffc300;
}

@media (min-width: 320px) and (max-width: 800px) {
  .input {
    width: 50%;
  }
  .card-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    width: 80%;
  }
}
